interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://buildapi.eng.vmware.com/ob/build/2069601
  response:
    body: {string: !!python/unicode '{"changeset": "2906865", "_deliverables_url":
        "/ob/deliverable/?build=2069601", "_buildtype_url": "/ob/buildtype/beta/",
        "_incremental_builds_url": null, "exit_code": 0, "buildsystem": "ob", "_requestor_url":
        "/ob/requestor/?build=2069601", "_buildmachines_url": "/ob/buildmachine/?build=2069601",
        "buildtree_size_in_mb": 31076, "_buildstate_url": "/ob/buildstate/succeeded/",
        "_buildtags_url": "/ob/buildtags/?build=2069601", "saved": true, "id": 2069601,
        "_buildprogressnotes_url": "/ob/buildprogressnote/?build=2069601", "_buildnotes_url":
        "/ob/buildnote/?build=2069601", "scmserver": "perforce.eng.vmware.com:1666",
        "_buildstateprogress_url": "/ob/buildstateprogress/?build=2069601", "reuse_trees":
        false, "ondisk": true, "reuse_trees_tag": null, "keep_until": "2014-11-25
        08:05:38.405864", "_product_url": "/ob/product/server/", "buildstate": "succeeded",
        "_buildtree_url": "http://build-squid.eng.vmware.com/build/mts/release/bora-2069601/",
        "_storage_queue_url": "/ob/storagequeue/?build=2069601", "version": "5.5.0",
        "_localtree_url": "/ob/localtree/?build=2069601", "branch": "vsphere55u2",
        "progress": null, "_releasetag_url": "/ob/releasetag/?build=2069601", "_qatestresults_url":
        "/ob/qatestresult/?build=2069601", "buildtype": "beta", "product": "server",
        "_sb_parent_builds_url": "/sb/buildcomponent/?component_buildid=2069601",
        "_incremental_next_builds_url": null, "zerocopy": false, "prodbuildnum": 13798,
        "_this_resource": "build", "buildtree": "/build/storage60/release/bora-2069601",
        "_parent_builds_url": "/ob/buildcomponent/?component_buildid=2069601", "reusable_id":
        null, "endtime": "2014-08-23 06:27:31.286502", "expired": false, "_ob_parent_builds_url":
        "/ob/buildcomponent/?component_buildid=2069601", "locales": "en", "_incremental":
        false, "_this_url": "/ob/build/2069601/", "_branch_url": "/ob/branch/vsphere55u2/",
        "_buildflags_url": "/ob/buildflag/?build=2069601", "releasetype": "beta",
        "_elapsed_sec": 7544.818037, "_currenttime": "2014-11-04 20:16:30.504592",
        "_releasetype_url": "/ob/releasetype/beta/", "backedup": true, "starttime":
        "2014-08-23 04:21:46.468465", "_component_builds_url": "/ob/buildcomponent/?build=2069601",
        "bugid": null, "_incremental_previous_builds_url": null}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://buildapi.eng.vmware.com/sb/buildcomponent/?component_buildid=2069601
  response:
    body: {string: !!python/unicode '{"_total_count": 11, "_next_url": null, "_page_count":
        11, "_list": [{"_this_url": "/sb/buildcomponent/64281596/", "scmserver": null,
        "_component_build_url": "/ob/build/2069601/", "_currenttime": "2014-11-04
        20:16:30.590237", "component_buildid": 2069601, "_build_url": "/sb/build/4108566/",
        "_this_resource": "buildcomponent", "component_dbkind": "ob", "build": 4108566,
        "id": 64281596}, {"_this_url": "/sb/buildcomponent/65769550/", "scmserver":
        null, "_component_build_url": "/ob/build/2069601/", "_currenttime": "2014-11-04
        20:16:30.590237", "component_buildid": 2069601, "_build_url": "/sb/build/4196987/",
        "_this_resource": "buildcomponent", "component_dbkind": "ob", "build": 4196987,
        "id": 65769550}, {"_this_url": "/sb/buildcomponent/66343955/", "scmserver":
        null, "_component_build_url": "/ob/build/20696[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://buildapi.eng.vmware.com/sb/build/4108566/
  response:
    body: {string: !!python/unicode '{"changeset": "2311294", "_deliverables_url":
        "/sb/deliverable/?build=4108566", "_buildtype_url": "/sb/buildtype/beta/",
        "_incremental_builds_url": null, "exit_code": 0, "buildsystem": "sb", "_requestor_url":
        "/sb/requestor/?build=4108566", "_buildmachines_url": "/sb/buildmachine/?build=4108566",
        "buildtr[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://buildapi.eng.vmware.com/sb/deliverable/?build=4501360
  response:
    body: {string: !!python/unicode '{"_total_count": 4, "_next_url": null, "_page_count":
        4, "_list": [{"_this_url": "/sb/deliverable/758607319/", "_download_url":
        "http://buildweb.eng.vmware.com/sb/api/4501360/deliverable/?file=publish/disk-0.vmdk",
        "_currenttime": "2014-11-04 20:16:31.402531", "_build_url": "/sb/build/4501360/",
        "_this_resource": "deliverable", "size_in_mb": 499, "path": "publish/disk-0.vmdk",
        "id": 758607319, "deliverable_class": "external"}, {"_this_url": "/sb/deliverable/758607320/",
        "_download_url": "http://buildweb.eng.vmware.com/sb/api/4501360/deliverable/?file=publish/esxvmovf-4501360.ovf",
        "_currenttime": "2014-11-04 20:16:31.402531", "_build_url": "/sb/build/4501360/",
        "_this_resource": "deliverable", "size_in_mb": 1, "path": "publish/esxvmovf-4501360.ovf",
        "id": 758607320, "deliverable_class": "external"}, {"_this_url": "/sb/deliverable/758607532/",
        "_download_url": "http://buildweb.eng.vmware.com/sb/api/4501360/deliverable/?file=publish/MD5SUM.txt",
        "_currenttime": "2014-11-04 20:16:31.402531", "_build_url": "/sb/build/4501360/",
        "_this_resource": "deliverable", "size_in_mb": 0, "path": "publish/MD5SUM.txt",
        "id": 758607532, "deliverable_class": "external"}, {"_this_url": "/sb/deliverable/758607533/",
        "_download_url": "http://buildweb.eng.vmware.com/sb/api/4501360/deliverable/?file=publish/SHA1SUM.txt",
        "_currenttime": "2014-11-04 20:16:31.402531", "_build_url": "/sb/build/4501360/",
        "_this_resource": "deliverable", "size_in_mb": 0, "path": "publish/SHA1SUM.txt",
        "id": 758607533, "deliverable_class": "external"}], "_previous_url": null}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
